doctype html
head
  title Notemaker
  meta(charset="utf-8")
  link(type="text/css" href="./style.css" rel="stylesheet")
body
  div#notearea
  
  script(src="https://unpkg.com/react@16/umd/react.development.js" crossorgin)
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorgin)
  script(src="scripting.js" type="module")
